body {
  margin: 0;
  overflow: scroll; /* Hide scrollbars to achieve fullscreen effect */
  background-color: black;
  margin: 0; /* Remove default body margin */
}

#video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Maintain aspect ratio while covering the viewport */
  display: block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#step2 #photo {
  width: 100vw;
  height: 100vh;
  display: block; /* Remove border and box-shadow */
  margin: 0 auto; /* Center the photo element */
}

#photo {
  max-width: 100%; /* Make the photo element responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove border and box-shadow */
  margin: 0 auto; /* Center the photo element */
  object-fit: cover; /* Maintain aspect ratio while covering the viewport */
}

#canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Maintain aspect ratio while covering the viewport */
  display: block;
}

.camera {
  width: 100vw;
  height: 100vh;
  text-align: center; /* Center the video element */
  display: flex;
  justify-content: center;
  align-items: center;
}

#step2 .output {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  max-width: 100%; /* Make the output container responsive */
  text-align: center; /* Center the contents */
}

#startbutton {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: 'Lucida Grande', 'Arial', sans-serif;
  color: rgba(255, 255, 255, 1);
}

#retrybutton {
  position: relative;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: 'Lucida Grande', 'Arial', sans-serif;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 24px;
  margin-top: 24px;
  width: 64px;
}

.contentarea {
  font-size: 16px;
  font-family: 'Lucida Grande', 'Arial', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.container {
  display: grid;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
